In [3]:
import pandas as pd

path = '../data/raw_aurita.csv'

df = pd.read_csv(path)
df

                                             image_url tipo
0    https://static.inaturalist.org/photos/31942517...  N-H
1    https://inaturalist-open-data.s3.amazonaws.com...  N-H
2    https://inaturalist-open-data.s3.amazonaws.com...  N-H
3    https://inaturalist-open-data.s3.amazonaws.com...  N-H
4    https://static.inaturalist.org/photos/19468824...  N-H
..                                                 ...  ...
251  https://static.inaturalist.org/photos/48982171...  N-H
252  https://inaturalist-open-data.s3.amazonaws.com...  N-H
253  https://static.inaturalist.org/photos/50729289...    H
254  https://inaturalist-open-data.s3.amazonaws.com...  N-H
255  https://static.inaturalist.org/photos/50880770...  N-H

[256 rows x 2 columns]

In [4]:
df = df[['image_url', 'tipo']].rename(columns={'image_url': 'url', 'tipo': 'classe'})

df

                                                   url classe
0    https://static.inaturalist.org/photos/31942517...    N-H
1    https://inaturalist-open-data.s3.amazonaws.com...    N-H
2    https://inaturalist-open-data.s3.amazonaws.com...    N-H
3    https://inaturalist-open-data.s3.amazonaws.com...    N-H
4    https://static.inaturalist.org/photos/19468824...    N-H
..                                                 ...    ...
251  https://static.inaturalist.org/photos/48982171...    N-H
252  https://inaturalist-open-data.s3.amazonaws.com...    N-H
253  https://static.inaturalist.org/photos/50729289...      H
254  https://inaturalist-open-data.s3.amazonaws.com...    N-H
255  https://static.inaturalist.org/photos/50880770...    N-H

[256 rows x 2 columns]

In [5]:
df.to_csv(path, index=False)