In [11]:
import pandas as pd

specie = 'aurita'

path = f'../data/csv_prepared/{specie}_location_fixed_prepared_mapped.csv'

df = pd.read_csv(path)
df

,observed_on,latitude,longitude,place_state_name,url,image_url,basename,tipo,binary_label,year,month,dayofyear,month_sin,month_cos,doy_sin,doy_cos
0,10/04/2005,-22.415519,-43.398463,Rio de Janeiro,https://www.inaturalist.org/observations/18312...,https://static.inaturalist.org/photos/31942517...,NaN,N-H,nao_hibrido,2005,4,100,0.866025,-0.500000,0.989372,-0.145404
1,01/05/2006,-21.925034,-42.871454,Minas Gerais,https://www.inaturalist.org/observations/12180677,https://inaturalist-open-data.s3.amazonaws.com...,NaN,N-H,nao_hibrido,2006,5,121,0.500000,-0.866025,0.874481,-0.485060
2,23/10/2009,-22.273861,-47.564140,São Paulo,https://www.inaturalist.org/observations/37692783,https://inaturalist-open-data.s3.amazonaws.com...,NaN,N-H,nao_hibrido,2009,10,296,-0.866025,0.500000,-0.932655,0.360771
3,21/05/2011,-21.868276,-42.896158,Minas Gerais,https://www.inaturalist.org/observations/26091...,https://inaturalist-open-data.s3.amazonaws.com...,NaN,N-H,nao_hibrido,2011,5,141,0.500000,-0.866025,0.660152,-0.751132
4,01/07/2011,-23.159688,-44.820074,São Paulo,https://www.inaturalist.org/observations/11533...,https://static.inaturalist.org/photos/19468824...,NaN,N-H,nao_hibrido,2011,7,182,-0.500000,-0.866025,0.017166,-0.999853
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
251,22/04/2025,-23.639248,-45.961316,São Paulo,https://www.inaturalist.org/observations/27226...,https://static.inaturalist.org/photos/48982171...,NaN,N-H,nao_hibrido,2025,4,112,0.866025,-0.500000,0.938710,-0.344707
252,09/05/2025,-22.085907,-45.199460,Minas Gerais,https://www.inaturalist.org/observations/27982...,https://inaturalist-open-data.s3.amazonaws.com...,NaN,N-H,nao_hibrido,2025,5,129,0.500000,-0.866025,0.799839,-0.600214
253,18/05/2025,-22.581037,-43.139387,Rio de Janeiro,https://www.inaturalist.org/observations/28236...,https://static.inaturalist.org/photos/50729289...,NaN,H,hibrido,2025,5,138,0.500000,-0.866025,0.697944,-0.716152
254,20/05/2025,-23.364807,-46.877321,São Paulo,https://www.inaturalist.org/observations/28275...,https://inaturalist-open-data.s3.amazonaws.com...,NaN,N-H,nao_hibrido,2025,5,140,0.500000,-0.866025,0.672949,-0.739689
255,22/05/2025,-23.534093,-45.939392,São Paulo,https://www.inaturalist.org/observations/28317...,https://static.inaturalist.org/photos/50880770...,NaN,N-H,nao_hibrido,2025,5,142,0.500000,-0.866025,0.647161,-0.762354

In [12]:
counting_df = df['image_url'].value_counts().reset_index()

counting_df.query("count > 1")

Empty DataFrame
Columns: [image_url, count]
Index: []